<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>Hopper's Heaping Jalapeno</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet">
		<style type ="text/css">
		body{
			margin: 0 auto;
			text-align:center;
			background-color: #FFF5EE;
		}
		h1
		{
			color: green;
		}
		</style>
	</head>

	<body>
		<h1> Hello! </h1>
		<img src = "Jalapeno.jpg" alt="Jalapeno" style="width:304px;height:228px;">

		<form class="form-horizontal" method="POST">
			<fieldset>
				<legend>What type of food</legend>
				<p> Choose which type of food you want</p>
				<div class = "form-group">
					<label for="select" class="col-lg-2 control-label">Options</label>
					<div class="col-lg-2">
						<select class="form-control" id="select">
							<option>American</option>
							<option>Mexican</option>
							<option>Asain</option>
						</select>
					</div>
				</div>
				<input class="btn btn-primary" type="submit" value="ADD">
			</fieldset>
		</form>

	</body>

</html>
