<html>
	<head><title>Hopper's Heaping Jalapeno</title>

    <script>
   function previewFile(){
       var preview = document.querySelector('img'); //selects the query named img
       var file    = document.querySelector('input[type=file]').files[0]; //sames as here
       var reader  = new FileReader();

       reader.onloadend = function () {
           preview.src = reader.result;
       }

       if (file) {
           reader.readAsDataURL(file); //reads the data as a URL
       } else {
           preview.src = "";
       }
  }

  previewFile();  //calls the function named previewFile()
  </script>

	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet"></head>
	<body>
		<nav class="navbar navbar-default" id="nav">
			<div class="container-fluid">
				<ul class="nav nav-tabs">
					<li><a>Menu1</a></li>
					<li><a>Menu2</a></li>
					<li><a>Menu3</a></li>
				</ul>

				{% block body %}{% endblock %}
			</div>
		</nav>
		<input type="file" onchange="previewFile()"><br>
		<img src="" height="200" alt="Image preview...">
	</body>
</html>
